
.container {
    padding-top: 60px;
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
}

.parte-esq p {
    color: #A5A5A5;
    font-size: 1.5rem;
    margin: 15px 0 40px 0;
}

.caixa-setas {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1240px;
    margin: 0 auto;
}

.container2 {
    padding-top: 40px;
    width: 1080px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.setas {
    max-width: 100%;
    height: 70px;
}

.seta {
    max-width: 100%;
    height: 50px;
}

.caixa-jogos {
    background-color: #D9D9D9;
    margin: 15px 10px;
    width: 330px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.25);
    font-size: 1.5rem;
}

.caixa-jogos:hover {
    margin: 0;
    padding: 15px 10px;
}

.logo-jogos {
    max-width: 100%;
    height: 110px;
}

.caixa-jogos:hover .logo-jogos {
    height: 150px;
}

.caixa-jogos h3 {
    text-align: center;
    color: #B11313;
    font-size: 1.75rem;
}

.caixa-jogos:hover h3 {
    font-size: 2rem;
}

.caixa-jogos p {
    color: #202020;
    margin: 0 35px;
    text-align: center;
}

.caixa-jogos:hover p {
    padding-bottom: 10px;
}

.botao-laranja {
    background-color: #FF2400;
    display: inline;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 15px 55px;
    border-radius: 40px;
}

.conferir {
    padding: 15px 45px;
    border-radius: 40px;
}

.botao-laranja:hover {
    background-color: #B81A00;
}

.retangulos {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
    margin: 34px 0 75px 0;
}

.retang-p {
    background-color: #D9D9D9;
    border-radius: 20px;
    height: 8px;
    width: 20px;
}


.vantagens {
    background-color: #111111;
    text-align: center;
    padding: 70px 0;
}

.vantagens h2 {
    color: #FF2400;
    font-size: 1.5rem;
    margin: 0;
}

.vantagens .titulo-h2-h3 h3 {
    color: #ffffff;
    font-size: 2.25rem;
    margin: 25px 0px 60px 0px;
}

.container-van {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1220px;
    margin: 0 auto;
    color: #ffffff;
}

.van-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 40px;
}

.caixa-vantagem {
    background-color: #2F2F2F;
    border-radius: 20px;
    height: 280px;
    width: 365px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.caixa-vantagem img {
    max-width: 100%;
    height: 70px;
}

.caixa-vantagem h3 {
    font-size: 1.375rem;
}

.caixa-vantagem p {
    color: #A5A5A5;
    font-size: 1.25rem;
    margin: 0 30px;
}

.caixa-vantagem-c {
    background-color: #2F2F2F;
    border-radius: 20px;
    height: 600px;
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.caixa-vantagem-c img {
    max-width: 100px;
    height: 100px;
    flex-shrink: 0;
}

.caixa-vantagem-c h3 {
    font-size: 1.75rem;
}

.caixa-vantagem-c p {
    font-size: 1.5rem;
    margin: 0 40px;
}

/* 
sdjfgbnsjdfçgbndfsjkbnjkdsbfujghieouprtqwpoerl.vcxklçjnaziooijpqwertsdjfgbnsjdfçgbndfsjkbnjkdsbfujghieouprtqwpoerl.vcxklçjnaziooijpqwert
sdjfgbnsjdfçgbndfsjkbnjkdsbfujghieouprtqwpoerl.vcxklçjnaziooijpqwertsdjfgbnsjdfçgbndfsjkbnjkdsbfujghieouprtqwpoerl.vcxklçjnaziooijpqwert
sdjfgbnsjdfçgbndfsjkbnjkdsbfujghieouprtqwpoerl.vcxklçjnaziooijpqwertsdjfgbnsjdfçgbndfsjkbnjkdsbfujghieouprtqwpoerl.vcxklçjnaziooijpqwert
sdjfgbnsjdfçgbndfsjkbnjkdsbfujghieouprtqwpoerl.vcxklçjnaziooijpqwertsdjfgbnsjdfçgbndfsjkbnjkdsbfujghieouprtqwpoerl.vcxklçjnaziooijpqwert
sdjfgbnsjdfçgbndfsjkbnjkdsbfujghieouprtqwpoerl.vcxklçjnaziooijpqwertsdjfgbnsjdfçgbndfsjkbnjkdsbfujghieouprtqwpoerl.vcxklçjnaziooijpqwert
*/

.caixa-avaliacao-m {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    padding: 100px 0;
}

.mini-avaliacao {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
}

.caixa-opiniao {
    flex: 1;
}

.caixa-opiniao h2 {
    font-size: 3rem;
    color: #ffffff;
    margin: 0;
}

.caixa-opiniao p {
    font-size: 1.5rem;
    color: #A5A5A5;
    margin-bottom: 50px;
}

.caixa-estrelas {
    display: flex;
    justify-content: center;
    column-gap: 3px;
}

.caixa-comentarios {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.caixa-avaliacao {
    background-color: #D9D9D9;
    height: 408px;
    width: 345px;
    border: 5px solid #D9D9D9;
    border-radius: 10px;
}

.caixa-avaliacao-cima {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D9D9D9;
    border-radius: 20px 20px 0px 0px;
}

.caixa-avaliacao-cima .caixa-estrelas {
    margin-bottom: 15px;
}

.caixa-avaliacao-cima h3 {
    font-size: 1.75rem;
    margin: 15px 0 10px 0;
}

.five-pointed-star2 {
    --star-color: #FF2400;
    margin:1em auto;
    font-size:0.85em;
    position: relative;
    display: block;
    width: 0px;
    height: 0px;
    border-right: 1em solid transparent;
    border-bottom: 0.7em solid var(--star-color);
    border-left: 1em solid transparent;
    transform: rotate(35deg);
}

.five-pointed-star2:before {
    border-bottom: 0.8em solid var(--star-color);
    border-left: 0.3em solid transparent;
    border-right: 0.3em solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -0.45em;
    left: -0.65em;
    display: block;
    content:"";
    transform: rotate(-35deg);
}

.five-pointed-star2:after {
    position: absolute;
    display: block;
    top: 0.03em;
    left: -1.05em;
    width: 0;
    height: 0;
    border-right: 1em solid transparent;
    border-bottom: 0.7em solid var(--star-color);
    border-left: 1em solid transparent;
    transform: rotate(-70deg);
    content:"";
}

.caixa-avaliacao-baixo {
    height: 295px;
    background-color: #111111;
    border-radius: 0px 0px 10px 10px;
}

.caixa-avaliacao-baixo h4 {
    font-size: 1.375rem;
    color: #ffffff;
    margin: 0 0 0 20px;
    padding: 30px 5px;
}

.caixa-avaliacao-baixo p {
    font-size: 1.25rem;
    color: #A5A5A5;
    margin: 0 20px 45px 20px;
}

.caixa-avaliacao-baixo .nome {
    color: #ffffff;
    text-align: right;
    margin: 0 20px;
}

/* 
sdjfgbnsjdfçgbndfsjkbnjkdsbfujghieouprtqwpoerl.vcxklçjnaziooijpqwertsdjfgbnsjdfçgbndfsjkbnjkdsbfujghieouprtqwpoerl.vcxklçjnaziooijpqwert
sdjfgbnsjdfçgbndfsjkbnjkdsbfujghieouprtqwpoerl.vcxklçjnaziooijpqwertsdjfgbnsjdfçgbndfsjkbnjkdsbfujghieouprtqwpoerl.vcxklçjnaziooijpqwert
sdjfgbnsjdfçgbndfsjkbnjkdsbfujghieouprtqwpoerl.vcxklçjnaziooijpqwertsdjfgbnsjdfçgbndfsjkbnjkdsbfujghieouprtqwpoerl.vcxklçjnaziooijpqwert
sdjfgbnsjdfçgbndfsjkbnjkdsbfujghieouprtqwpoerl.vcxklçjnaziooijpqwertsdjfgbnsjdfçgbndfsjkbnjkdsbfujghieouprtqwpoerl.vcxklçjnaziooijpqwert
sdjfgbnsjdfçgbndfsjkbnjkdsbfujghieouprtqwpoerl.vcxklçjnaziooijpqwertsdjfgbnsjdfçgbndfsjkbnjkdsbfujghieouprtqwpoerl.vcxklçjnaziooijpqwert
*/

/* Responsivo */


@media screen and (max-width: 1300px) {

    .container {
        max-width: 850px;
    }

    .parte-esq h1 {
        font-size: 2.625rem;
    }

    .parte-esq p {
        font-size: 1.25rem;
    }

    .container div img {
        width: max-content;
        height: 390px;
    }

    .caixa-setas {
        max-width: 1000px;
    }

    .container2 {
        max-width: 850px;
    }

    .container-van {
        max-width: 1000px;
    }

    .caixa-vantagem {
        width: 280px;
    }

    .caixa-vantagem-c {
        width: 340px;
    }

}

@media screen and (max-width: 1050px) {

    .container {
        max-width: 650px;
        height: 420px;
    }

    .parte-esq h1 {
        font-size: 2.25rem;
    }

    .container div img {
        width: max-content;
        height: 340px;
    }

    .caixa-setas {
        max-width: 650px;
    }

    .container2 {
        max-width: 550px;
    }

    .desaparece {
        display: none;
    }

    .vantagens .titulo-h2-h3 {
        margin: 0 auto;
        width: 650px;
    }

    .container-van {
        max-width: 650px;
    }

    .container-van .caixa-vantagem-c, .container-van .profissionalismo {
        width: 320px;
    }

    .van-baixo {
        width: 650px;
        margin-top: 40px;
        flex-direction: row;
        justify-content: space-between;
    }

    .caixa-vantagem {
        width: 280px;
    }

    .caixa-vantagem-c {
        width: 340px;
    }

}

@media screen and (max-width: 700px) {

    .container {
        max-width: 450px;
        height: auto;
    }

    .imagem-mewtwo {
        display: none;
    }

    .caixa-setas {
        padding-top: 60px;
        max-width: 450px;
    }

    .container2 {
        max-width: 400px;
        justify-content: space-around;
    }

    .desaparece2 {
        display: none;
    }

    .vantagens .titulo-h2-h3 {
        width: 450px;
    }

    .vantagens .container-van {
        max-width: 450px;
        justify-content: center;
    }

    .van-flex {
        justify-content: center;
    }

    .container-van .caixa-vantagem {
        width: 320px;
    }
    .caixa-vantagem-c {
        margin-top: 40px;
    }
}
